*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


h1{
    width: 100vw;
    height: 90vh;
    border: 4px solid black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: antiquewhite;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name{
    width: 100vw;
    height: 0;
    font-size: small;
    justify-content: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    padding-right: 10vw;
}